{% extends 'ht/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-5 mx-auto shadow-lg">
		<div class="card-body">
			<h4>Login</h4>
			<form method="post">
				{% csrf_token %}
				<input type="text" name="username" class="form-control my-2" placeholder="Username">
				<input type="password" name="password" class="form-control my-2" placeholder="Password">
				<div class="row">
					<div class="col">
						<a href="{% url 'rg' %}" class="form-control btn btn-outline-info">New User?</a>
					</div>
					<div class="col">
						<input type="submit" value="Login" class="btn btn-outline-success form-control">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}