<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Form</title>
	<style type="text/css">
		h3 {
			margin-left: 30%;
			margin-right:30%;
			padding:12px;
			border:2px solid green;
			text-align:center;
		}
		form {
			margin-left: 30%;
    		padding: 15px;
    		border: 2px solid red;
    		margin-right: 30%;
		}
		input,label {
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<h3>Student Form</h3>
	<form>
		<label>Roll Number</label>
		<input type="text" name="" placeholder="Enter Roll"><br>
		<label>Student Name</label>
		<input type="text" name="" placeholder="Enter Your Name">
	</form>
</body>
</html>