{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<title>Student Delete</title>
</head>
<body>
	<div class="container mt-4">
		<div class="card col-md-5 mx-auto shadow-lg">
			<div class="card-body">
				<h4>Are you sure want to Delete ?</h4><hr/>
				<h6>Roll Number {{z.roll}}</h6>
				<h6>Student Name {{z.sname}}</h6>
				<h6>Year {{z.year}}</h6>
				<h6>Branch {{z.branch}}</h6>
				<form method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col">
							<a href="{% url 'cru' %}" class="form-control btn btn-outline-info">No</a>
						</div>
						<div class="col">
							<input type="submit" value="Yes Confirm" class="btn btn-outline-danger form-control">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>